<div class="fade-in">
    <c-card class="mb-4">
      <c-card-header>
       <strong>Maestro de ubicaciones</strong> 
       <button type="button"  class="btn btn-dark float-end"><strong>+ Añadir</strong></button>

      </c-card-header>
       
      
      <c-card-body>
        <c-row>
          <table class="table table-striped">
            <thead>
              <tr>
                
                <th scope="col">Ubicación</th>
                <th scope="col">Zona</th>
                <th scope="col">Pasillo</th>
                <th scope="col">Estantería</th>
                <th scope="col">Nivel</th>
                <th scope="col">Profundidad</th>
                <th scope="col">Código</th>
                <th scope="col">Bloqueado</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td scope="row">2</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                
              </tr>
              <tr>
                <td scope="row">3</td>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                
              </tr>
            </tbody>
          </table>
        </c-row>
      </c-card-body>
    </c-card>
  </div>