<div class="fade-in">
    <c-card class="mb-4">
      <c-card-header>
       <strong>Maestro de recambios</strong> 
       <button type="button"  class="btn btn-dark float-end"><strong>+ Añadir recambio</strong></button>

      </c-card-header>
       
      
      <c-card-body>
        <c-row>
          <table class="table table-striped">
            <thead>
              <tr>
                
                <th scope="col" alig>Fecha de entrada</th>
                <th scope="col">Tipo</th>
                <th scope="col">Recambio</th>
                <th scope="col">Instalación</th>
                <th scope="col">Detalles</th>
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">Bastidor</th>
                <th scope="col">Año</th>
                <th scope="col">Ref.Motor</th>
                <th scope="col">Ubicación</th>
                <th scope="col">Disponibilidad</th>
                <th scope="col">Venta online</th>
                <th scope="col">MPN</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>

              </tr>
            </thead>
            <tbody>
              <tr>
                
                <td align="center">27/08/2021</td>
                <td align="center">Motor</td>
                <td align="center">Alternador</td>
                <td align="center">-</td>
                <td align="center">-</td>
                <td align="center">Seat</td>
                <td align="center">Ibiza</td>
                <td align="center">FRTSFH25423</td>
                <td align="center">2004</td>
                <td align="center">243152485</td>
                <td align="center">(1,3,B,1)</td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center">-</td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>

              </tr>
              <tr>
                <td align="center">01/02/2023</td>
                <td align="center">Electricidad</td>
                <td align="center">Elevalunas delantero</td>
                <td align="center">Manual</td>
                <td align="center">Izdo</td>
                <td align="center">Citroën</td>
                <td align="center">C3</td>
                <td align="center">WTEG2123JH</td>
                <td align="center">2002</td>
                <td align="center">2122121</td>
                <td align="center">(1,2,A,2)</td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center">-</td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
              </tr>
              <tr>
                
                <td align="center">08/02/2021</td>
                <td align="center">Dirección</td>
                <td align="center">Volante</td>
                <td align="center">-</td>
                <td align="center">-</td>
                <td align="center">Ford</td>
                <td align="center">Focus</td>
                <td align="center">JHSFH25423</td>
                <td align="center">1999</td>
                <td align="center">478515</td>
                <td align="center">(1,1.1,A,1)</td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center">-</td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
              </tr>
            </tbody>
          </table>
        </c-row>
      </c-card-body>
    </c-card>
  </div>