<div class="fade-in">
    <c-card class="mb-4">
      <c-card-header>
       <strong>Maestro de vehículos</strong> 
       <button type="button"  class="btn btn-dark float-end"><strong>+ Añadir vehículo</strong></button>

      </c-card-header>
       
      
      <c-card-body>
        <c-row>
          <table class="table table-striped">
            <thead>
              <tr>
                
                <th scope="col">Fecha de entrada</th>
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">Variante</th>
                <th scope="col">Matrícula</th>
                <th scope="col">Bastidor</th>
                <th scope="col">Año</th>
                <th scope="col">Combustible</th>
                <th scope="col">CC</th>
                <th scope="col">Ref.Motor</th>
                <th scope="col">Color</th>
                <th scope="col">Estado</th>
                <th scope="col">Peso</th>
                <th scope="col">Cambio</th>
                <th scope="col">kType</th>
                <th scope="col"></th>
                <th scope="col"></th>

              </tr>
            </thead>
            <tbody>
              <tr>
                
                <td>27/08/2021</td>
                <td>Renault</td>
                <td>Megan</td>
                <td></td>
                <td>8288THS</td>
                <td>21W123121</td>
                <td>2000</td>
                <td>Gasolina</td>
                <td></td>
                <td></td>
                <td>Blanco</td>
                <td>Entero</td>
                <td>1852</td>
                <td>Manual</td>
                <td></td>
                <td></td>
                <td></td>

              </tr>
              <tr>
                
                <td>06/01/2015</td>
                <td>Seat</td>
                <td>Panda</td>
                <td></td>
                <td>M3695PD</td>
                <td>32131J21d</td>
                <td>1754</td>
                <td>Gasolina</td>
                <td></td>
                <td></td>
                <td>Blanco</td>
                <td>Entero</td>
                <td>1782</td>
                <td>Manual</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                
                <td>15/08/2008</td>
                <td>Renault</td>
                <td>15</td>
                <td></td>
                <td>TO2125N</td>
                <td>21W123121</td>
                <td>1982</td>
                <td>Gasolina</td>
                <td></td>
                <td></td>
                <td>Rojo</td>
                <td>Entero</td>
                <td>1865</td>
                <td>Manual</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </c-row>
      </c-card-body>
    </c-card>
  </div>