<div class="fade-in">
    <c-card class="mb-4">
      <c-card-header>
       <strong>Maestro de usuarios</strong> 
       <button type="button"  class="btn btn-dark float-end"><strong>+ Añadir</strong></button>
      </c-card-header>
      <c-card-body>
        <c-row>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Email</th>
                <th scope="col">Rol</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">Otto</td>
                <td>Mark</td>
                <td>635568796</td>
                <td>otto@sella.com</td>
                <td>Administrador sistema</td>
                
                
              </tr>
              <tr>
                <td scope="row">Juan</td>
                <td>Jacob</td>
                <td>699911165</td>
                <td>juan@sella.com</td>
                <td>Limitaciones</td>
                
                
              </tr>
              <tr>
                <td scope="row">Silvia</td>
                <td>Larry</td>
                <td>320548712</td>
                <td>silvia@sella.com</td>
                <td>Limitaciones</td>
               
              </tr>
            </tbody>
          </table>
        </c-row>
      </c-card-body>
    </c-card>
  </div>